In [1]:
import pandas as pd
import MySQLdb
import numpy as np
import datetime
from patsy import dmatrices

In [15]:
conn = MySQLdb.connect(host='dev-db.cycgavlmx4or.us-east-1.rds.amazonaws.com', user='admin', passwd='Look4more', db='nba_data')
cursor = conn.cursor()

query = "SELECT * from playerGameLog;"

df_playerlog = pd.read_sql(query, conn)

In [16]:
df_playerlog[['gameID', 'playerID', 'home_Team', 'team_id', 'starter']] = df_playerlog[['gameID', 'playerID', 'home_Team', 'team_id', 'starter']].astype(str)

In [18]:
comments = list(df_playerlog['comment'].unique())

In [19]:
len(df_playerlog.loc[df_playerlog['comment']== "DNP - Coach's Decision                  "])

4285

In [20]:
df_playerlog.replace("DNP - Coach's Decision                  ", "", inplace=True)

In [21]:
len(df_playerlog.loc[df_playerlog['comment']== "DNP - Coach's Decision                  "])

0

In [22]:
len(df_playerlog.loc[df_playerlog['comment']== ""])

30295

In [23]:
df_playerlog = df_playerlog[df_playerlog.comment == ""]

In [24]:
len(df_playerlog)

30295

In [176]:
playerlog

,secs,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG
1,1034,1610612753,2557,0,New Orleans,9,191,1610612740,PG
2,246,1610612753,2584,0,New Orleans,9,191,1610612740,SG
3,1381,1610612753,2732,0,New Orleans,9,191,1610612740,SG
4,1891,1610612740,201569,1,Orlando,-9,191,1610612740,SG
5,149,1610612740,201582,0,Orlando,-9,191,1610612740,C
6,1341,1610612740,201583,0,Orlando,-9,191,1610612740,PF
7,2010,1610612740,201600,1,Orlando,-9,191,1610612740,C
8,2080,1610612740,201936,1,Orlando,-9,191,1610612740,PG
9,1622,1610612740,201950,1,Orlando,-9,191,1610612740,PG
10,149,1610612740,202337,0,Orlando,-9,191,1610612740,SF
11,1068,1610612740,202690,0,Orlando,-9,191,1610612740,PG
12,2103,1610612753,202696,1,New Orleans,9,191,1610612740,C
13,2193,1610612753,202699,1,New Orleans,9,191,1610612740,SF
14,2180,1610612740,203076,1,Orlando,-9,191,1610612740,PF
15,1811,1610612759,1495,1,Dallas,-3,203,1610612759,C
16,1900,1610612742,1717,1,San Antonio,3,203,1610612759,PF
17,1661,1610612759,1938,0,Dallas,-3,203,1610612759,SG
18,1665,1610612742,2199,1,San Antonio,3,203,1610612759,C
19,802,1610612742,2210,0,San Antonio,3,203,1610612759,SF
20,2090,1610612759,2225,1,Dallas,-3,203,1610612759,PG
21,2008,1610612759,2564,0,Dallas,-3,203,1610612759,PF
22,872,1610612759,2588,1,Dallas,-3,203,1610612759,PF
23,1747,1610612742,2734,0,San Antonio,3,203,1610612759,PG
24,1828,1610612742,2749,1,San Antonio,3,203,1610612759,PG
25,NaN,1610612742,101111,0,San Antonio,3,203,1610612759,PF
26,2233,1610612742,101145,1,San Antonio,3,203,1610612759,SG
27,1084,1610612742,201148,0,San Antonio,3,203,1610612759,PF
28,1845,1610612759,201158,1,Dallas,-3,203,1610612759,SG
29,NaN,1610612759,201948,0,Dallas,-3,203,1610612759,SF
...,...,...,...,...,...,...,...,...,...
31416,2484,1610612755,203924,1,Miami,-2,192,1610612755,SF
31417,2118,1610612755,203960,1,Miami,-2,192,1610612755,PF
31418,2880,1610612748,204020,1,Philadelphia,2,192,1610612755,SG
31419,2441,1610612748,204054,1,Philadelphia,2,192,1610612755,SG
31420,2006,1610612761,203082,1,Charlotte,-10,194,1610612761,SG
31421,2281,1610612766,203106,1,Toronto,10,194,1610612761,None
31422,1090,1610612766,203148,0,Toronto,10,194,1610612761,PG
31423,1748,1610612766,203584,0,Toronto,10,194,1610612761,SG
31425,1398,1610612766,203943,0,Toronto,10,194,1610612761,PF
31426,1041,1610612744,203084,1,Denver,-11,215,1610612744,SF
31427,910,1610612744,203105,0,Denver,-11,215,1610612744,C
31428,1217,1610612744,203110,1,Denver,-11,215,1610612744,PF
31429,1285,1610612743,203115,0,Golden State,11,215,1610612744,SG
31430,1182,1610612744,203200,0,Denver,-11,215,1610612744,SG
31431,1618,1610612743,203475,0,Golden State,11,215,1610612744,PG
31432,573,1610612743,203479,0,Golden State,11,215,1610612744,SG
31433,1392,1610612743,203530,0,Golden State,11,215,1610612744,SF
31434,950,1610612743,203546,0,Golden State,11,215,1610612744,SG
31435,1956,1610612743,203914,1,Golden State,11,215,1610612744,None
31436,951,1610612744,203949,0,Denver,-11,215,1610612744,None
31437,1807,1610612743,203994,1,Golden State,11,215,1610612744,PF
31438,1169,1610612747,203135,0,Sacramento,-3,206,1610612747,C
31439,2392,1610612758,203463,1,L.A. Lakers,3,206,1610612747,SG
31440,1910,1610612758,203492,1,L.A. Lakers,3,206,1610612747,PG
31441,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG
31442,2280,1610612747,203527,1,Sacramento,-3,206,1610612747,PF
31444,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG
31445,1898,1610612758,203917,1,L.A. Lakers,3,206,1610612747,SG
31446,1295,1610612747,204028,1,Sacramento,-3,206,1610612747,PF
31447,1163,1610612758,204065,0,L.A. Lakers,3,206,1610612747,PG

In [173]:
playerlog = df_playerlog[['secs', 'team_id', 'playerID', 'starter', 'oppName', 'spread', 'overUnder', 'home_Team', 'pos']]

In [162]:
grouped = playerlog.groupby('playerID')

In [167]:
means = grouped.mean()

In [174]:
means.drop(['spread', 'overUnder'], axis=1, inplace=True)

In [178]:
means

                 secs
playerID
101106    1417.179104
101107    1565.153846
101108    2090.682927
101109     582.172414
101110     659.312500
101111     635.750000
101112    1495.840000
101114    1865.308824
101122    1225.466667
101123    1172.594595
101126     844.190476
101127    1680.750000
101128     858.857143
101131     863.508197
101133    1127.065574
101135    1107.367347
101138    1411.304878
101139    1578.100000
101141    1364.482759
101142     581.000000
101145    2024.475000
101150    1511.650000
101161    1583.013333
101162    1794.597561
101179    1370.325581
101181    1814.619048
101183     360.666667
101187    1414.337838
101198     571.714286
101236     528.310345
...               ...
2571       892.893939
2581      1132.703704
2584      1097.423077
2585      1421.684932
2588       779.569444
2590      1747.235294
2592       704.596491
2594      1934.466667
2617       962.709677
2730      1789.414634
2732       846.875000
2733      1129.423077
2734      1330.381579
2736      2017.166667
2738      1611.883117
2742      1226.562500
2743      1261.234375
2744      1838.630769
2746      1663.072289
2747      1782.414286
2748       740.645833
2749      1339.063492
2754      1569.253968
2755      2003.820513
2757      1135.164557
2760      1466.653846
2772      2144.012195
2853       535.625000
708       1215.978723
977       2068.914286

[500 rows x 1 columns]

In [179]:
means.reset_index(inplace=True)

In [180]:
means

    playerID         secs
0     101106  1417.179104
1     101107  1565.153846
2     101108  2090.682927
3     101109   582.172414
4     101110   659.312500
5     101111   635.750000
6     101112  1495.840000
7     101114  1865.308824
8     101122  1225.466667
9     101123  1172.594595
10    101126   844.190476
11    101127  1680.750000
12    101128   858.857143
13    101131   863.508197
14    101133  1127.065574
15    101135  1107.367347
16    101138  1411.304878
17    101139  1578.100000
18    101141  1364.482759
19    101142   581.000000
20    101145  2024.475000
21    101150  1511.650000
22    101161  1583.013333
23    101162  1794.597561
24    101179  1370.325581
25    101181  1814.619048
26    101183   360.666667
27    101187  1414.337838
28    101198   571.714286
29    101236   528.310345
..       ...          ...
470     2571   892.893939
471     2581  1132.703704
472     2584  1097.423077
473     2585  1421.684932
474     2588   779.569444
475     2590  1747.235294
476     2592   704.596491
477     2594  1934.466667
478     2617   962.709677
479     2730  1789.414634
480     2732   846.875000
481     2733  1129.423077
482     2734  1330.381579
483     2736  2017.166667
484     2738  1611.883117
485     2742  1226.562500
486     2743  1261.234375
487     2744  1838.630769
488     2746  1663.072289
489     2747  1782.414286
490     2748   740.645833
491     2749  1339.063492
492     2754  1569.253968
493     2755  2003.820513
494     2757  1135.164557
495     2760  1466.653846
496     2772  2144.012195
497     2853   535.625000
498      708  1215.978723
499      977  2068.914286

[500 rows x 2 columns]

In [192]:
result = pd.merge(playerlog, means, on='playerID')

In [193]:
result

,secs_x,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos,secs_y
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG,770.571429
1,302,1610612740,2422,0,Dallas,-1,203,1610612740,SG,770.571429
2,319,1610612740,2422,0,San Antonio,7,195,1610612759,SG,770.571429
3,604,1610612740,2422,0,Cleveland,5,202,1610612739,SG,770.571429
4,NaN,1610612740,2422,0,L.A. Lakers,-10,209,1610612740,SG,770.571429
5,NaN,1610612740,2422,0,Minnesota,-8,206,1610612740,SG,770.571429
6,NaN,1610612740,2422,0,Portland,3,204,1610612757,SG,770.571429
7,316,1610612740,2422,0,Sacramento,3,204,1610612758,SG,770.571429
8,656,1610612740,2422,0,Denver,-2,212,1610612743,SG,770.571429
9,NaN,1610612740,2422,0,Utah,-2,199,1610612762,SG,770.571429
10,597,1610612740,2422,0,Sacramento,-6,199,1610612740,SG,770.571429
11,1492,1610612740,2422,0,Atlanta,2,204,1610612737,SG,770.571429
12,1695,1610612740,2422,0,Washington,4,198,1610612764,SG,770.571429
13,1485,1610612740,2422,0,Oklahoma City,3,197,1610612740,SG,770.571429
14,1232,1610612740,2422,0,Golden State,9,206,1610612744,SG,770.571429
15,1074,1610612740,2422,0,L.A. Clippers,9,207,1610612746,SG,770.571429
16,NaN,1610612740,2422,0,L.A. Lakers,-2,207,1610612747,SG,770.571429
17,NaN,1610612740,2422,0,New York,-6,195,1610612740,SG,770.571429
18,NaN,1610612740,2422,0,Dallas,7,209,1610612742,SG,770.571429
19,NaN,1610612740,2422,0,Cleveland,-1,201,1610612740,SG,770.571429
20,533,1610612740,2422,0,Golden State,6,205,1610612740,SG,770.571429
21,NaN,1610612740,2422,0,Utah,-10,197,1610612740,SG,770.571429
22,840,1610612740,2422,0,Houston,4,200,1610612745,SG,770.571429
23,NaN,1610612740,2422,0,Portland,-5,205,1610612740,SG,770.571429
24,412,1610612740,2422,0,Oklahoma City,7,201,1610612760,SG,770.571429
25,611,1610612740,2422,0,Indiana,-1,194,1610612754,SG,770.571429
26,1082,1610612740,2422,0,San Antonio,-3,202,1610612740,SG,770.571429
27,809,1610612740,2422,0,Chicago,10,201,1610612741,SG,770.571429
28,NaN,1610612740,2422,0,Houston,2,204,1610612740,SG,770.571429
29,NaN,1610612740,2422,0,Washington,-3,200,1610612740,SG,770.571429
...,...,...,...,...,...,...,...,...,...,...
30265,2053,1610612747,203913,1,Denver,9,205,1610612743,SG,1794.789474
30266,2269,1610612747,203913,1,Minnesota,-5,202,1610612747,SG,1794.789474
30267,2528,1610612747,203913,1,Dallas,5,203,1610612747,SG,1794.789474
30268,2777,1610612747,203913,1,Sacramento,3,208,1610612758,SG,1794.789474
30269,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG,1794.789474
30270,74,1610612756,203552,0,Minnesota,-5,204,1610612756,PG,234.000000
30271,NaN,1610612756,203552,0,Atlanta,6,202,1610612756,PG,234.000000
30272,394,1610612756,203552,0,New York,-11,196,1610612756,PG,234.000000
30273,NaN,1610612756,203552,0,New Orleans,0,198,1610612756,PG,234.000000
30274,617,1610612750,203930,0,New York,2,196,1610612752,SG,1072.750000
30275,NaN,1610612750,203930,0,Charlotte,5,198,1610612750,SG,1072.750000
30276,1184,1610612750,203930,0,Utah,10,182,1610612762,SG,1072.750000
30277,1458,1610612750,203930,0,L.A. Lakers,-1,201,1610612750,SG,1072.750000
30278,1032,1610612750,203930,0,Houston,13,205,1610612745,SG,1072.750000
30279,NaN,1610612758,204033,0,Philadelphia,-8,206,1610612758,PF,209.000000
30280,NaN,1610612758,204033,0,Phoenix,8,213,1610612756,PF,209.000000
30281,NaN,1610612758,204033,0,New Orleans,6,206,1610612740,PF,209.000000
30282,133,1610612758,204033,0,Memphis,10,199,1610612763,PF,209.000000
30283,285,1610612758,204033,0,Houston,10,211,1610612745,PF,209.000000
30284,NaN,1610612758,204021,0,New Orleans,6,203,1610612758,C,53.666667
30285,NaN,1610612758,204021,0,Utah,-1,190,1610612758,C,53.666667
30286,16,1610612758,204021,0,Minnesota,-8,214,1610612758,C,53.666667
30287,82,1610612758,204021,0,Utah,12,190,1610612762,C,53.666667
30288,63,1610612758,204021,0,Oklahoma City,13,219,1610612760,C,53.666667
30289,193,1610612743,203479,0,Sacramento,-9,218,1610612743,SG,263.666667
30290,25,1610612743,203479,0,L.A. Clippers,18,214,1610612746,SG,263.666667
30291,573,1610612743,203479,0,Golden State,11,215,1610612744,SG,263.666667
30292,1543,1610612747,203505,0,Sacramento,3,208,1610612758,SG,2211.500000
30293,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG,2211.500000
30294,NaN,1610612738,203569,0,Milwaukee,6,198,1610612749,None,NaN

In [196]:
result.rename(columns={'secs_y':'secavg'}, inplace=True)

In [194]:
result.rename(columns={'secs_x':'secs'}, inplace=True)

In [197]:
result

,secs,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos,secavg
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG,770.571429
1,302,1610612740,2422,0,Dallas,-1,203,1610612740,SG,770.571429
2,319,1610612740,2422,0,San Antonio,7,195,1610612759,SG,770.571429
3,604,1610612740,2422,0,Cleveland,5,202,1610612739,SG,770.571429
4,NaN,1610612740,2422,0,L.A. Lakers,-10,209,1610612740,SG,770.571429
5,NaN,1610612740,2422,0,Minnesota,-8,206,1610612740,SG,770.571429
6,NaN,1610612740,2422,0,Portland,3,204,1610612757,SG,770.571429
7,316,1610612740,2422,0,Sacramento,3,204,1610612758,SG,770.571429
8,656,1610612740,2422,0,Denver,-2,212,1610612743,SG,770.571429
9,NaN,1610612740,2422,0,Utah,-2,199,1610612762,SG,770.571429
10,597,1610612740,2422,0,Sacramento,-6,199,1610612740,SG,770.571429
11,1492,1610612740,2422,0,Atlanta,2,204,1610612737,SG,770.571429
12,1695,1610612740,2422,0,Washington,4,198,1610612764,SG,770.571429
13,1485,1610612740,2422,0,Oklahoma City,3,197,1610612740,SG,770.571429
14,1232,1610612740,2422,0,Golden State,9,206,1610612744,SG,770.571429
15,1074,1610612740,2422,0,L.A. Clippers,9,207,1610612746,SG,770.571429
16,NaN,1610612740,2422,0,L.A. Lakers,-2,207,1610612747,SG,770.571429
17,NaN,1610612740,2422,0,New York,-6,195,1610612740,SG,770.571429
18,NaN,1610612740,2422,0,Dallas,7,209,1610612742,SG,770.571429
19,NaN,1610612740,2422,0,Cleveland,-1,201,1610612740,SG,770.571429
20,533,1610612740,2422,0,Golden State,6,205,1610612740,SG,770.571429
21,NaN,1610612740,2422,0,Utah,-10,197,1610612740,SG,770.571429
22,840,1610612740,2422,0,Houston,4,200,1610612745,SG,770.571429
23,NaN,1610612740,2422,0,Portland,-5,205,1610612740,SG,770.571429
24,412,1610612740,2422,0,Oklahoma City,7,201,1610612760,SG,770.571429
25,611,1610612740,2422,0,Indiana,-1,194,1610612754,SG,770.571429
26,1082,1610612740,2422,0,San Antonio,-3,202,1610612740,SG,770.571429
27,809,1610612740,2422,0,Chicago,10,201,1610612741,SG,770.571429
28,NaN,1610612740,2422,0,Houston,2,204,1610612740,SG,770.571429
29,NaN,1610612740,2422,0,Washington,-3,200,1610612740,SG,770.571429
...,...,...,...,...,...,...,...,...,...,...
30265,2053,1610612747,203913,1,Denver,9,205,1610612743,SG,1794.789474
30266,2269,1610612747,203913,1,Minnesota,-5,202,1610612747,SG,1794.789474
30267,2528,1610612747,203913,1,Dallas,5,203,1610612747,SG,1794.789474
30268,2777,1610612747,203913,1,Sacramento,3,208,1610612758,SG,1794.789474
30269,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG,1794.789474
30270,74,1610612756,203552,0,Minnesota,-5,204,1610612756,PG,234.000000
30271,NaN,1610612756,203552,0,Atlanta,6,202,1610612756,PG,234.000000
30272,394,1610612756,203552,0,New York,-11,196,1610612756,PG,234.000000
30273,NaN,1610612756,203552,0,New Orleans,0,198,1610612756,PG,234.000000
30274,617,1610612750,203930,0,New York,2,196,1610612752,SG,1072.750000
30275,NaN,1610612750,203930,0,Charlotte,5,198,1610612750,SG,1072.750000
30276,1184,1610612750,203930,0,Utah,10,182,1610612762,SG,1072.750000
30277,1458,1610612750,203930,0,L.A. Lakers,-1,201,1610612750,SG,1072.750000
30278,1032,1610612750,203930,0,Houston,13,205,1610612745,SG,1072.750000
30279,NaN,1610612758,204033,0,Philadelphia,-8,206,1610612758,PF,209.000000
30280,NaN,1610612758,204033,0,Phoenix,8,213,1610612756,PF,209.000000
30281,NaN,1610612758,204033,0,New Orleans,6,206,1610612740,PF,209.000000
30282,133,1610612758,204033,0,Memphis,10,199,1610612763,PF,209.000000
30283,285,1610612758,204033,0,Houston,10,211,1610612745,PF,209.000000
30284,NaN,1610612758,204021,0,New Orleans,6,203,1610612758,C,53.666667
30285,NaN,1610612758,204021,0,Utah,-1,190,1610612758,C,53.666667
30286,16,1610612758,204021,0,Minnesota,-8,214,1610612758,C,53.666667
30287,82,1610612758,204021,0,Utah,12,190,1610612762,C,53.666667
30288,63,1610612758,204021,0,Oklahoma City,13,219,1610612760,C,53.666667
30289,193,1610612743,203479,0,Sacramento,-9,218,1610612743,SG,263.666667
30290,25,1610612743,203479,0,L.A. Clippers,18,214,1610612746,SG,263.666667
30291,573,1610612743,203479,0,Golden State,11,215,1610612744,SG,263.666667
30292,1543,1610612747,203505,0,Sacramento,3,208,1610612758,SG,2211.500000
30293,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG,2211.500000
30294,NaN,1610612738,203569,0,Milwaukee,6,198,1610612749,None,NaN

In [169]:
playerlog['avgsecs']= means['secs']

/Users/seanwilson/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [171]:
playerlog

,secs,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos,avgsecs
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG,NaN
1,1034,1610612753,2557,0,New Orleans,9,191,1610612740,PG,NaN
2,246,1610612753,2584,0,New Orleans,9,191,1610612740,SG,NaN
3,1381,1610612753,2732,0,New Orleans,9,191,1610612740,SG,NaN
4,1891,1610612740,201569,1,Orlando,-9,191,1610612740,SG,NaN
5,149,1610612740,201582,0,Orlando,-9,191,1610612740,C,NaN
6,1341,1610612740,201583,0,Orlando,-9,191,1610612740,PF,NaN
7,2010,1610612740,201600,1,Orlando,-9,191,1610612740,C,NaN
8,2080,1610612740,201936,1,Orlando,-9,191,1610612740,PG,NaN
9,1622,1610612740,201950,1,Orlando,-9,191,1610612740,PG,NaN
10,149,1610612740,202337,0,Orlando,-9,191,1610612740,SF,NaN
11,1068,1610612740,202690,0,Orlando,-9,191,1610612740,PG,NaN
12,2103,1610612753,202696,1,New Orleans,9,191,1610612740,C,NaN
13,2193,1610612753,202699,1,New Orleans,9,191,1610612740,SF,NaN
14,2180,1610612740,203076,1,Orlando,-9,191,1610612740,PF,NaN
15,1811,1610612759,1495,1,Dallas,-3,203,1610612759,C,NaN
16,1900,1610612742,1717,1,San Antonio,3,203,1610612759,PF,NaN
17,1661,1610612759,1938,0,Dallas,-3,203,1610612759,SG,NaN
18,1665,1610612742,2199,1,San Antonio,3,203,1610612759,C,NaN
19,802,1610612742,2210,0,San Antonio,3,203,1610612759,SF,NaN
20,2090,1610612759,2225,1,Dallas,-3,203,1610612759,PG,NaN
21,2008,1610612759,2564,0,Dallas,-3,203,1610612759,PF,NaN
22,872,1610612759,2588,1,Dallas,-3,203,1610612759,PF,NaN
23,1747,1610612742,2734,0,San Antonio,3,203,1610612759,PG,NaN
24,1828,1610612742,2749,1,San Antonio,3,203,1610612759,PG,NaN
25,NaN,1610612742,101111,0,San Antonio,3,203,1610612759,PF,NaN
26,2233,1610612742,101145,1,San Antonio,3,203,1610612759,SG,NaN
27,1084,1610612742,201148,0,San Antonio,3,203,1610612759,PF,NaN
28,1845,1610612759,201158,1,Dallas,-3,203,1610612759,SG,NaN
29,NaN,1610612759,201948,0,Dallas,-3,203,1610612759,SF,NaN
...,...,...,...,...,...,...,...,...,...,...
31416,2484,1610612755,203924,1,Miami,-2,192,1610612755,SF,NaN
31417,2118,1610612755,203960,1,Miami,-2,192,1610612755,PF,NaN
31418,2880,1610612748,204020,1,Philadelphia,2,192,1610612755,SG,NaN
31419,2441,1610612748,204054,1,Philadelphia,2,192,1610612755,SG,NaN
31420,2006,1610612761,203082,1,Charlotte,-10,194,1610612761,SG,NaN
31421,2281,1610612766,203106,1,Toronto,10,194,1610612761,None,NaN
31422,1090,1610612766,203148,0,Toronto,10,194,1610612761,PG,NaN
31423,1748,1610612766,203584,0,Toronto,10,194,1610612761,SG,NaN
31425,1398,1610612766,203943,0,Toronto,10,194,1610612761,PF,NaN
31426,1041,1610612744,203084,1,Denver,-11,215,1610612744,SF,NaN
31427,910,1610612744,203105,0,Denver,-11,215,1610612744,C,NaN
31428,1217,1610612744,203110,1,Denver,-11,215,1610612744,PF,NaN
31429,1285,1610612743,203115,0,Golden State,11,215,1610612744,SG,NaN
31430,1182,1610612744,203200,0,Denver,-11,215,1610612744,SG,NaN
31431,1618,1610612743,203475,0,Golden State,11,215,1610612744,PG,NaN
31432,573,1610612743,203479,0,Golden State,11,215,1610612744,SG,NaN
31433,1392,1610612743,203530,0,Golden State,11,215,1610612744,SF,NaN
31434,950,1610612743,203546,0,Golden State,11,215,1610612744,SG,NaN
31435,1956,1610612743,203914,1,Golden State,11,215,1610612744,None,NaN
31436,951,1610612744,203949,0,Denver,-11,215,1610612744,None,NaN
31437,1807,1610612743,203994,1,Golden State,11,215,1610612744,PF,NaN
31438,1169,1610612747,203135,0,Sacramento,-3,206,1610612747,C,NaN
31439,2392,1610612758,203463,1,L.A. Lakers,3,206,1610612747,SG,NaN
31440,1910,1610612758,203492,1,L.A. Lakers,3,206,1610612747,PG,NaN
31441,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG,NaN
31442,2280,1610612747,203527,1,Sacramento,-3,206,1610612747,PF,NaN
31444,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG,NaN
31445,1898,1610612758,203917,1,L.A. Lakers,3,206,1610612747,SG,NaN
31446,1295,1610612747,204028,1,Sacramento,-3,206,1610612747,PF,NaN
31447,1163,1610612758,204065,0,L.A. Lakers,3,206,1610612747,PG,NaN

In [170]:
playerlog.columns

Index([u'secs', u'team_id', u'playerID', u'starter', u'oppName', u'spread',
       u'overUnder', u'home_Team', u'pos', u'avgsecs'],
      dtype='object')

In [58]:
playerlog

,secs,team_id,starter,oppName,spread,overUnder,home_Team,pos
0,572,1610612740,0,Orlando,-9,191,1610612740,SG
1,1034,1610612753,0,New Orleans,9,191,1610612740,PG
2,246,1610612753,0,New Orleans,9,191,1610612740,SG
3,1381,1610612753,0,New Orleans,9,191,1610612740,SG
4,1891,1610612740,1,Orlando,-9,191,1610612740,SG
5,149,1610612740,0,Orlando,-9,191,1610612740,C
6,1341,1610612740,0,Orlando,-9,191,1610612740,PF
7,2010,1610612740,1,Orlando,-9,191,1610612740,C
8,2080,1610612740,1,Orlando,-9,191,1610612740,PG
9,1622,1610612740,1,Orlando,-9,191,1610612740,PG
10,149,1610612740,0,Orlando,-9,191,1610612740,SF
11,1068,1610612740,0,Orlando,-9,191,1610612740,PG
12,2103,1610612753,1,New Orleans,9,191,1610612740,C
13,2193,1610612753,1,New Orleans,9,191,1610612740,SF
14,2180,1610612740,1,Orlando,-9,191,1610612740,PF
15,1811,1610612759,1,Dallas,-3,203,1610612759,C
16,1900,1610612742,1,San Antonio,3,203,1610612759,PF
17,1661,1610612759,0,Dallas,-3,203,1610612759,SG
18,1665,1610612742,1,San Antonio,3,203,1610612759,C
19,802,1610612742,0,San Antonio,3,203,1610612759,SF
20,2090,1610612759,1,Dallas,-3,203,1610612759,PG
21,2008,1610612759,0,Dallas,-3,203,1610612759,PF
22,872,1610612759,1,Dallas,-3,203,1610612759,PF
23,1747,1610612742,0,San Antonio,3,203,1610612759,PG
24,1828,1610612742,1,San Antonio,3,203,1610612759,PG
25,NaN,1610612742,0,San Antonio,3,203,1610612759,PF
26,2233,1610612742,1,San Antonio,3,203,1610612759,SG
27,1084,1610612742,0,San Antonio,3,203,1610612759,PF
28,1845,1610612759,1,Dallas,-3,203,1610612759,SG
29,NaN,1610612759,0,Dallas,-3,203,1610612759,SF
...,...,...,...,...,...,...,...,...
31416,2484,1610612755,1,Miami,-2,192,1610612755,SF
31417,2118,1610612755,1,Miami,-2,192,1610612755,PF
31418,2880,1610612748,1,Philadelphia,2,192,1610612755,SG
31419,2441,1610612748,1,Philadelphia,2,192,1610612755,SG
31420,2006,1610612761,1,Charlotte,-10,194,1610612761,SG
31421,2281,1610612766,1,Toronto,10,194,1610612761,None
31422,1090,1610612766,0,Toronto,10,194,1610612761,PG
31423,1748,1610612766,0,Toronto,10,194,1610612761,SG
31425,1398,1610612766,0,Toronto,10,194,1610612761,PF
31426,1041,1610612744,1,Denver,-11,215,1610612744,SF
31427,910,1610612744,0,Denver,-11,215,1610612744,C
31428,1217,1610612744,1,Denver,-11,215,1610612744,PF
31429,1285,1610612743,0,Golden State,11,215,1610612744,SG
31430,1182,1610612744,0,Denver,-11,215,1610612744,SG
31431,1618,1610612743,0,Golden State,11,215,1610612744,PG
31432,573,1610612743,0,Golden State,11,215,1610612744,SG
31433,1392,1610612743,0,Golden State,11,215,1610612744,SF
31434,950,1610612743,0,Golden State,11,215,1610612744,SG
31435,1956,1610612743,1,Golden State,11,215,1610612744,None
31436,951,1610612744,0,Denver,-11,215,1610612744,None
31437,1807,1610612743,1,Golden State,11,215,1610612744,PF
31438,1169,1610612747,0,Sacramento,-3,206,1610612747,C
31439,2392,1610612758,1,L.A. Lakers,3,206,1610612747,SG
31440,1910,1610612758,1,L.A. Lakers,3,206,1610612747,PG
31441,2880,1610612747,1,Sacramento,-3,206,1610612747,SG
31442,2280,1610612747,1,Sacramento,-3,206,1610612747,PF
31444,2880,1610612747,1,Sacramento,-3,206,1610612747,SG
31445,1898,1610612758,1,L.A. Lakers,3,206,1610612747,SG
31446,1295,1610612747,1,Sacramento,-3,206,1610612747,PF
31447,1163,1610612758,0,L.A. Lakers,3,206,1610612747,PG

In [39]:
type(playerlog['secs'][29])

numpy.float64

In [198]:
result['secs'].fillna(0, inplace=True)

In [200]:
result

,secs,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos,secavg
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG,770.571429
1,302,1610612740,2422,0,Dallas,-1,203,1610612740,SG,770.571429
2,319,1610612740,2422,0,San Antonio,7,195,1610612759,SG,770.571429
3,604,1610612740,2422,0,Cleveland,5,202,1610612739,SG,770.571429
4,0,1610612740,2422,0,L.A. Lakers,-10,209,1610612740,SG,770.571429
5,0,1610612740,2422,0,Minnesota,-8,206,1610612740,SG,770.571429
6,0,1610612740,2422,0,Portland,3,204,1610612757,SG,770.571429
7,316,1610612740,2422,0,Sacramento,3,204,1610612758,SG,770.571429
8,656,1610612740,2422,0,Denver,-2,212,1610612743,SG,770.571429
9,0,1610612740,2422,0,Utah,-2,199,1610612762,SG,770.571429
10,597,1610612740,2422,0,Sacramento,-6,199,1610612740,SG,770.571429
11,1492,1610612740,2422,0,Atlanta,2,204,1610612737,SG,770.571429
12,1695,1610612740,2422,0,Washington,4,198,1610612764,SG,770.571429
13,1485,1610612740,2422,0,Oklahoma City,3,197,1610612740,SG,770.571429
14,1232,1610612740,2422,0,Golden State,9,206,1610612744,SG,770.571429
15,1074,1610612740,2422,0,L.A. Clippers,9,207,1610612746,SG,770.571429
16,0,1610612740,2422,0,L.A. Lakers,-2,207,1610612747,SG,770.571429
17,0,1610612740,2422,0,New York,-6,195,1610612740,SG,770.571429
18,0,1610612740,2422,0,Dallas,7,209,1610612742,SG,770.571429
19,0,1610612740,2422,0,Cleveland,-1,201,1610612740,SG,770.571429
20,533,1610612740,2422,0,Golden State,6,205,1610612740,SG,770.571429
21,0,1610612740,2422,0,Utah,-10,197,1610612740,SG,770.571429
22,840,1610612740,2422,0,Houston,4,200,1610612745,SG,770.571429
23,0,1610612740,2422,0,Portland,-5,205,1610612740,SG,770.571429
24,412,1610612740,2422,0,Oklahoma City,7,201,1610612760,SG,770.571429
25,611,1610612740,2422,0,Indiana,-1,194,1610612754,SG,770.571429
26,1082,1610612740,2422,0,San Antonio,-3,202,1610612740,SG,770.571429
27,809,1610612740,2422,0,Chicago,10,201,1610612741,SG,770.571429
28,0,1610612740,2422,0,Houston,2,204,1610612740,SG,770.571429
29,0,1610612740,2422,0,Washington,-3,200,1610612740,SG,770.571429
...,...,...,...,...,...,...,...,...,...,...
30265,2053,1610612747,203913,1,Denver,9,205,1610612743,SG,1794.789474
30266,2269,1610612747,203913,1,Minnesota,-5,202,1610612747,SG,1794.789474
30267,2528,1610612747,203913,1,Dallas,5,203,1610612747,SG,1794.789474
30268,2777,1610612747,203913,1,Sacramento,3,208,1610612758,SG,1794.789474
30269,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG,1794.789474
30270,74,1610612756,203552,0,Minnesota,-5,204,1610612756,PG,234.000000
30271,0,1610612756,203552,0,Atlanta,6,202,1610612756,PG,234.000000
30272,394,1610612756,203552,0,New York,-11,196,1610612756,PG,234.000000
30273,0,1610612756,203552,0,New Orleans,0,198,1610612756,PG,234.000000
30274,617,1610612750,203930,0,New York,2,196,1610612752,SG,1072.750000
30275,0,1610612750,203930,0,Charlotte,5,198,1610612750,SG,1072.750000
30276,1184,1610612750,203930,0,Utah,10,182,1610612762,SG,1072.750000
30277,1458,1610612750,203930,0,L.A. Lakers,-1,201,1610612750,SG,1072.750000
30278,1032,1610612750,203930,0,Houston,13,205,1610612745,SG,1072.750000
30279,0,1610612758,204033,0,Philadelphia,-8,206,1610612758,PF,209.000000
30280,0,1610612758,204033,0,Phoenix,8,213,1610612756,PF,209.000000
30281,0,1610612758,204033,0,New Orleans,6,206,1610612740,PF,209.000000
30282,133,1610612758,204033,0,Memphis,10,199,1610612763,PF,209.000000
30283,285,1610612758,204033,0,Houston,10,211,1610612745,PF,209.000000
30284,0,1610612758,204021,0,New Orleans,6,203,1610612758,C,53.666667
30285,0,1610612758,204021,0,Utah,-1,190,1610612758,C,53.666667
30286,16,1610612758,204021,0,Minnesota,-8,214,1610612758,C,53.666667
30287,82,1610612758,204021,0,Utah,12,190,1610612762,C,53.666667
30288,63,1610612758,204021,0,Oklahoma City,13,219,1610612760,C,53.666667
30289,193,1610612743,203479,0,Sacramento,-9,218,1610612743,SG,263.666667
30290,25,1610612743,203479,0,L.A. Clippers,18,214,1610612746,SG,263.666667
30291,573,1610612743,203479,0,Golden State,11,215,1610612744,SG,263.666667
30292,1543,1610612747,203505,0,Sacramento,3,208,1610612758,SG,2211.500000
30293,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG,2211.500000
30294,0,1610612738,203569,0,Milwaukee,6,198,1610612749,None,NaN

In [201]:
result['home'] = result.apply(lambda row: 1 if row.team_id == row.home_Team  else 0, axis=1)

In [202]:
result

,secs,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos,secavg,home
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG,770.571429,1
1,302,1610612740,2422,0,Dallas,-1,203,1610612740,SG,770.571429,1
2,319,1610612740,2422,0,San Antonio,7,195,1610612759,SG,770.571429,0
3,604,1610612740,2422,0,Cleveland,5,202,1610612739,SG,770.571429,0
4,0,1610612740,2422,0,L.A. Lakers,-10,209,1610612740,SG,770.571429,1
5,0,1610612740,2422,0,Minnesota,-8,206,1610612740,SG,770.571429,1
6,0,1610612740,2422,0,Portland,3,204,1610612757,SG,770.571429,0
7,316,1610612740,2422,0,Sacramento,3,204,1610612758,SG,770.571429,0
8,656,1610612740,2422,0,Denver,-2,212,1610612743,SG,770.571429,0
9,0,1610612740,2422,0,Utah,-2,199,1610612762,SG,770.571429,0
10,597,1610612740,2422,0,Sacramento,-6,199,1610612740,SG,770.571429,1
11,1492,1610612740,2422,0,Atlanta,2,204,1610612737,SG,770.571429,0
12,1695,1610612740,2422,0,Washington,4,198,1610612764,SG,770.571429,0
13,1485,1610612740,2422,0,Oklahoma City,3,197,1610612740,SG,770.571429,1
14,1232,1610612740,2422,0,Golden State,9,206,1610612744,SG,770.571429,0
15,1074,1610612740,2422,0,L.A. Clippers,9,207,1610612746,SG,770.571429,0
16,0,1610612740,2422,0,L.A. Lakers,-2,207,1610612747,SG,770.571429,0
17,0,1610612740,2422,0,New York,-6,195,1610612740,SG,770.571429,1
18,0,1610612740,2422,0,Dallas,7,209,1610612742,SG,770.571429,0
19,0,1610612740,2422,0,Cleveland,-1,201,1610612740,SG,770.571429,1
20,533,1610612740,2422,0,Golden State,6,205,1610612740,SG,770.571429,1
21,0,1610612740,2422,0,Utah,-10,197,1610612740,SG,770.571429,1
22,840,1610612740,2422,0,Houston,4,200,1610612745,SG,770.571429,0
23,0,1610612740,2422,0,Portland,-5,205,1610612740,SG,770.571429,1
24,412,1610612740,2422,0,Oklahoma City,7,201,1610612760,SG,770.571429,0
25,611,1610612740,2422,0,Indiana,-1,194,1610612754,SG,770.571429,0
26,1082,1610612740,2422,0,San Antonio,-3,202,1610612740,SG,770.571429,1
27,809,1610612740,2422,0,Chicago,10,201,1610612741,SG,770.571429,0
28,0,1610612740,2422,0,Houston,2,204,1610612740,SG,770.571429,1
29,0,1610612740,2422,0,Washington,-3,200,1610612740,SG,770.571429,1
...,...,...,...,...,...,...,...,...,...,...,...
30265,2053,1610612747,203913,1,Denver,9,205,1610612743,SG,1794.789474,0
30266,2269,1610612747,203913,1,Minnesota,-5,202,1610612747,SG,1794.789474,1
30267,2528,1610612747,203913,1,Dallas,5,203,1610612747,SG,1794.789474,1
30268,2777,1610612747,203913,1,Sacramento,3,208,1610612758,SG,1794.789474,0
30269,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG,1794.789474,1
30270,74,1610612756,203552,0,Minnesota,-5,204,1610612756,PG,234.000000,1
30271,0,1610612756,203552,0,Atlanta,6,202,1610612756,PG,234.000000,1
30272,394,1610612756,203552,0,New York,-11,196,1610612756,PG,234.000000,1
30273,0,1610612756,203552,0,New Orleans,0,198,1610612756,PG,234.000000,1
30274,617,1610612750,203930,0,New York,2,196,1610612752,SG,1072.750000,0
30275,0,1610612750,203930,0,Charlotte,5,198,1610612750,SG,1072.750000,1
30276,1184,1610612750,203930,0,Utah,10,182,1610612762,SG,1072.750000,0
30277,1458,1610612750,203930,0,L.A. Lakers,-1,201,1610612750,SG,1072.750000,1
30278,1032,1610612750,203930,0,Houston,13,205,1610612745,SG,1072.750000,0
30279,0,1610612758,204033,0,Philadelphia,-8,206,1610612758,PF,209.000000,1
30280,0,1610612758,204033,0,Phoenix,8,213,1610612756,PF,209.000000,0
30281,0,1610612758,204033,0,New Orleans,6,206,1610612740,PF,209.000000,0
30282,133,1610612758,204033,0,Memphis,10,199,1610612763,PF,209.000000,0
30283,285,1610612758,204033,0,Houston,10,211,1610612745,PF,209.000000,0
30284,0,1610612758,204021,0,New Orleans,6,203,1610612758,C,53.666667,1
30285,0,1610612758,204021,0,Utah,-1,190,1610612758,C,53.666667,1
30286,16,1610612758,204021,0,Minnesota,-8,214,1610612758,C,53.666667,1
30287,82,1610612758,204021,0,Utah,12,190,1610612762,C,53.666667,0
30288,63,1610612758,204021,0,Oklahoma City,13,219,1610612760,C,53.666667,0
30289,193,1610612743,203479,0,Sacramento,-9,218,1610612743,SG,263.666667,1
30290,25,1610612743,203479,0,L.A. Clippers,18,214,1610612746,SG,263.666667,0
30291,573,1610612743,203479,0,Golden State,11,215,1610612744,SG,263.666667,0
30292,1543,1610612747,203505,0,Sacramento,3,208,1610612758,SG,2211.500000,0
30293,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG,2211.500000,1
30294,0,1610612738,203569,0,Milwaukee,6,198,1610612749,None,NaN,0

In [203]:
result[['starter']] = result[['starter']].astype(int)

In [205]:
type(result['starter'][0])

numpy.int64

In [206]:
result.columns

Index([u'secs', u'team_id', u'playerID', u'starter', u'oppName', u'spread',
       u'overUnder', u'home_Team', u'pos', u'secavg', u'home'],
      dtype='object')

In [66]:
import scipy
import sklearn
import matplotlib
import seaborn as sns
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.learning_curve import learning_curve
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score

In [208]:
y, x = dmatrices('secs ~ secavg + spread + overUnder + starter + home + pos', data=result, return_type= 'dataframe' )

In [209]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 3)

In [68]:
from sklearn import linear_model

In [210]:
clf = linear_model.LinearRegression()
clf.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [211]:
y_pred = clf.predict(x_test)

In [72]:
from sklearn import metrics

In [212]:
print metrics.mean_squared_error(y_test, y_pred)

196553.336468

In [213]:
np.sqrt(metrics.mean_squared_error(y_test, y_pred))

443.34336181842639

In [76]:
import statsmodels.api as sm

In [214]:
model = sm.OLS(y, x)
results = model.fit()

In [215]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   secs   R-squared:                       0.656
Model:                            OLS   Adj. R-squared:                  0.656
Method:                 Least Squares   F-statistic:                     6002.
Date:                Tue, 15 Sep 2015   Prob (F-statistic):               0.00
Time:                        22:31:56   Log-Likelihood:            -2.1322e+05
No. Observations:               28374   AIC:                         4.265e+05
Df Residuals:                   28364   BIC:                         4.266e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    116.9299     63.634      1.838      0.066        -7.796   241.656
pos[T.PF]     57.8918      8.424      6.872      0.000        41.380    74.404
pos[T.PG]     67.8885      8.855      7.667      0.000        50.533    85.244
pos[T.SF]     39.4626      8.576      4.601      0.000        22.653    56.272
pos[T.SG]     46.7371      8.581      5.446      0.000        29.917    63.557
secavg         0.8029      0.007    111.804      0.000         0.789     0.817
spread         2.5545      0.396      6.450      0.000         1.778     3.331
overUnder     -1.0962      0.315     -3.475      0.001        -1.715    -0.478
starter      502.2350      7.407     67.806      0.000       487.717   516.753
home           7.4932      5.689      1.317      0.188        -3.657    18.644
==============================================================================
Omnibus:                      234.029   Durbin-Watson:                   1.241
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              309.196
Skew:                          -0.127   Prob(JB):                     7.23e-68
Kurtosis:                       3.444   Cond. No.                     3.40e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.4e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [217]:
nresult=result

In [218]:
nresult[['home']] = nresult[['home']].astype(int)

In [219]:
nresult['spreadXstarter'] = nresult.spread * nresult.starter

In [220]:
nresult['homeXstarter'] = nresult.home * nresult.starter

In [221]:
nresult['ouXstarter'] = nresult.overUnder * nresult.starter

In [222]:
nresult

,secs,team_id,playerID,starter,oppName,spread,overUnder,home_Team,pos,secavg,home,spreadXstarter,homeXstarter,ouXstarter
0,572,1610612740,2422,0,Orlando,-9,191,1610612740,SG,770.571429,1,-0,0,0
1,302,1610612740,2422,0,Dallas,-1,203,1610612740,SG,770.571429,1,-0,0,0
2,319,1610612740,2422,0,San Antonio,7,195,1610612759,SG,770.571429,0,0,0,0
3,604,1610612740,2422,0,Cleveland,5,202,1610612739,SG,770.571429,0,0,0,0
4,0,1610612740,2422,0,L.A. Lakers,-10,209,1610612740,SG,770.571429,1,-0,0,0
5,0,1610612740,2422,0,Minnesota,-8,206,1610612740,SG,770.571429,1,-0,0,0
6,0,1610612740,2422,0,Portland,3,204,1610612757,SG,770.571429,0,0,0,0
7,316,1610612740,2422,0,Sacramento,3,204,1610612758,SG,770.571429,0,0,0,0
8,656,1610612740,2422,0,Denver,-2,212,1610612743,SG,770.571429,0,-0,0,0
9,0,1610612740,2422,0,Utah,-2,199,1610612762,SG,770.571429,0,-0,0,0
10,597,1610612740,2422,0,Sacramento,-6,199,1610612740,SG,770.571429,1,-0,0,0
11,1492,1610612740,2422,0,Atlanta,2,204,1610612737,SG,770.571429,0,0,0,0
12,1695,1610612740,2422,0,Washington,4,198,1610612764,SG,770.571429,0,0,0,0
13,1485,1610612740,2422,0,Oklahoma City,3,197,1610612740,SG,770.571429,1,0,0,0
14,1232,1610612740,2422,0,Golden State,9,206,1610612744,SG,770.571429,0,0,0,0
15,1074,1610612740,2422,0,L.A. Clippers,9,207,1610612746,SG,770.571429,0,0,0,0
16,0,1610612740,2422,0,L.A. Lakers,-2,207,1610612747,SG,770.571429,0,-0,0,0
17,0,1610612740,2422,0,New York,-6,195,1610612740,SG,770.571429,1,-0,0,0
18,0,1610612740,2422,0,Dallas,7,209,1610612742,SG,770.571429,0,0,0,0
19,0,1610612740,2422,0,Cleveland,-1,201,1610612740,SG,770.571429,1,-0,0,0
20,533,1610612740,2422,0,Golden State,6,205,1610612740,SG,770.571429,1,0,0,0
21,0,1610612740,2422,0,Utah,-10,197,1610612740,SG,770.571429,1,-0,0,0
22,840,1610612740,2422,0,Houston,4,200,1610612745,SG,770.571429,0,0,0,0
23,0,1610612740,2422,0,Portland,-5,205,1610612740,SG,770.571429,1,-0,0,0
24,412,1610612740,2422,0,Oklahoma City,7,201,1610612760,SG,770.571429,0,0,0,0
25,611,1610612740,2422,0,Indiana,-1,194,1610612754,SG,770.571429,0,-0,0,0
26,1082,1610612740,2422,0,San Antonio,-3,202,1610612740,SG,770.571429,1,-0,0,0
27,809,1610612740,2422,0,Chicago,10,201,1610612741,SG,770.571429,0,0,0,0
28,0,1610612740,2422,0,Houston,2,204,1610612740,SG,770.571429,1,0,0,0
29,0,1610612740,2422,0,Washington,-3,200,1610612740,SG,770.571429,1,-0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30265,2053,1610612747,203913,1,Denver,9,205,1610612743,SG,1794.789474,0,9,0,205
30266,2269,1610612747,203913,1,Minnesota,-5,202,1610612747,SG,1794.789474,1,-5,1,202
30267,2528,1610612747,203913,1,Dallas,5,203,1610612747,SG,1794.789474,1,5,1,203
30268,2777,1610612747,203913,1,Sacramento,3,208,1610612758,SG,1794.789474,0,3,0,208
30269,2880,1610612747,203913,1,Sacramento,-3,206,1610612747,SG,1794.789474,1,-3,1,206
30270,74,1610612756,203552,0,Minnesota,-5,204,1610612756,PG,234.000000,1,-0,0,0
30271,0,1610612756,203552,0,Atlanta,6,202,1610612756,PG,234.000000,1,0,0,0
30272,394,1610612756,203552,0,New York,-11,196,1610612756,PG,234.000000,1,-0,0,0
30273,0,1610612756,203552,0,New Orleans,0,198,1610612756,PG,234.000000,1,0,0,0
30274,617,1610612750,203930,0,New York,2,196,1610612752,SG,1072.750000,0,0,0,0
30275,0,1610612750,203930,0,Charlotte,5,198,1610612750,SG,1072.750000,1,0,0,0
30276,1184,1610612750,203930,0,Utah,10,182,1610612762,SG,1072.750000,0,0,0,0
30277,1458,1610612750,203930,0,L.A. Lakers,-1,201,1610612750,SG,1072.750000,1,-0,0,0
30278,1032,1610612750,203930,0,Houston,13,205,1610612745,SG,1072.750000,0,0,0,0
30279,0,1610612758,204033,0,Philadelphia,-8,206,1610612758,PF,209.000000,1,-0,0,0
30280,0,1610612758,204033,0,Phoenix,8,213,1610612756,PF,209.000000,0,0,0,0
30281,0,1610612758,204033,0,New Orleans,6,206,1610612740,PF,209.000000,0,0,0,0
30282,133,1610612758,204033,0,Memphis,10,199,1610612763,PF,209.000000,0,0,0,0
30283,285,1610612758,204033,0,Houston,10,211,1610612745,PF,209.000000,0,0,0,0
30284,0,1610612758,204021,0,New Orleans,6,203,1610612758,C,53.666667,1,0,0,0
30285,0,1610612758,204021,0,Utah,-1,190,1610612758,C,53.666667,1,-0,0,0
30286,16,1610612758,204021,0,Minnesota,-8,214,1610612758,C,53.666667,1,-0,0,0
30287,82,1610612758,204021,0,Utah,12,190,1610612762,C,53.666667,0,0,0,0
30288,63,1610612758,204021,0,Oklahoma City,13,219,1610612760,C,53.666667,0,0,0,0
30289,193,1610612743,203479,0,Sacramento,-9,218,1610612743,SG,263.666667,1,-0,0,0
30290,25,1610612743,203479,0,L.A. Clippers,18,214,1610612746,SG,263.666667,0,0,0,0
30291,573,1610612743,203479,0,Golden State,11,215,1610612744,SG,263.666667,0,0,0,0
30292,1543,1610612747,203505,0,Sacramento,3,208,1610612758,SG,2211.500000,0,0,0,0
30293,2880,1610612747,203505,1,Sacramento,-3,206,1610612747,SG,2211.500000,1,-3,1,206
30294,0,1610612738,203569,0,Milwaukee,6,198,1610612749,None,NaN,0,0,0,0

In [223]:
nx, ny = dmatrices('secs ~ secavg + starter + spread + spreadXstarter + home + homeXstarter + overUnder + ouXstarter + pos', data=nresult, return_type= 'dataframe' )

In [224]:
nx

       secs
0       572
1       302
2       319
3       604
4         0
5         0
6         0
7       316
8       656
9         0
10      597
11     1492
12     1695
13     1485
14     1232
15     1074
16        0
17        0
18        0
19        0
20      533
21        0
22      840
23        0
24      412
25      611
26     1082
27      809
28        0
29        0
...     ...
30264  1442
30265  2053
30266  2269
30267  2528
30268  2777
30269  2880
30270    74
30271     0
30272   394
30273     0
30274   617
30275     0
30276  1184
30277  1458
30278  1032
30279     0
30280     0
30281     0
30282   133
30283   285
30284     0
30285     0
30286    16
30287    82
30288    63
30289   193
30290    25
30291   573
30292  1543
30293  2880

[28374 rows x 1 columns]

In [225]:
nx_train, nx_test, ny_train, ny_test = train_test_split(nx, ny, random_state = 3)

In [226]:
clf = linear_model.LinearRegression()
clf.fit(nx_train, ny_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [227]:
ny_pred = clf.predict(nx_test)

In [228]:
np.sqrt(metrics.mean_squared_error(ny_test, ny_pred))

92.067924484705372

In [229]:
model = sm.OLS(nx, ny)
results = model.fit()

In [230]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   secs   R-squared:                       0.657
Model:                            OLS   Adj. R-squared:                  0.656
Method:                 Least Squares   F-statistic:                     4519.
Date:                Tue, 15 Sep 2015   Prob (F-statistic):               0.00
Time:                        22:37:21   Log-Likelihood:            -2.1319e+05
No. Observations:               28374   AIC:                         4.264e+05
Df Residuals:                   28361   BIC:                         4.265e+05
Df Model:                          12
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept        -96.0357     83.169     -1.155      0.248      -259.052    66.980
pos[T.PF]         57.6906      8.415      6.856      0.000        41.197    74.184
pos[T.PG]         66.6795      8.845      7.539      0.000        49.343    84.016
pos[T.SF]         39.6513      8.565      4.629      0.000        22.863    56.439
pos[T.SG]         44.2567      8.575      5.161      0.000        27.449    61.065
secavg             0.8108      0.007    112.160      0.000         0.797     0.825
starter          995.5976    128.047      7.775      0.000       744.619  1246.576
spread            -0.0798      0.520     -0.153      0.878        -1.099     0.939
spreadXstarter     6.2893      0.805      7.809      0.000         4.711     7.868
home              -9.4844      7.442     -1.274      0.203       -24.072     5.103
homeXstarter      40.3855     11.528      3.503      0.000        17.791    62.980
overUnder         -0.0276      0.413     -0.067      0.947        -0.836     0.781
ouXstarter        -2.5920      0.641     -4.046      0.000        -3.848    -1.336
==============================================================================
Omnibus:                      238.251   Durbin-Watson:                   1.246
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              320.954
Skew:                          -0.122   Prob(JB):                     2.02e-70
Kurtosis:                       3.460   Cond. No.                     7.59e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [232]:
xx, xy = dmatrices('secs ~ secavg + starter + spreadXstarter + ouXstarter + homeXstarter + pos', data=nresult, return_type= 'dataframe' )

In [233]:
xx_train, xx_test, xy_train, xy_test = train_test_split(xx, xy, random_state = 3)

In [234]:
clf = linear_model.LinearRegression()
clf.fit(xx_train, xy_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [235]:
xy_pred = clf.predict(xx_test)

In [236]:
np.sqrt(metrics.mean_squared_error(xy_test, xy_pred))

104.91546651730215

In [237]:
model = sm.OLS(xx, xy)
results = model.fit()

In [238]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   secs   R-squared:                       0.657
Model:                            OLS   Adj. R-squared:                  0.656
Method:                 Least Squares   F-statistic:                     6026.
Date:                Tue, 15 Sep 2015   Prob (F-statistic):               0.00
Time:                        22:39:54   Log-Likelihood:            -2.1319e+05
No. Observations:               28374   AIC:                         4.264e+05
Df Residuals:                   28364   BIC:                         4.265e+05
Df Model:                           9
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Intercept       -106.1961      9.090    -11.683      0.000      -124.013   -88.379
pos[T.PF]         57.6193      8.414      6.848      0.000        41.127    74.111
pos[T.PG]         66.6036      8.844      7.531      0.000        49.268    83.939
pos[T.SF]         39.5742      8.561      4.622      0.000        22.793    56.355
pos[T.SG]         44.2362      8.567      5.164      0.000        27.445    61.028
secavg             0.8107      0.007    112.504      0.000         0.797     0.825
starter         1005.8179     97.871     10.277      0.000       813.985  1197.650
spreadXstarter     6.2094      0.613     10.135      0.000         5.008     7.410
ouXstarter        -2.6193      0.489     -5.354      0.000        -3.578    -1.660
homeXstarter      30.9009      8.800      3.511      0.000        13.652    48.149
==============================================================================
Omnibus:                      235.782   Durbin-Watson:                   1.246
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              317.237
Skew:                          -0.121   Prob(JB):                     1.30e-69
Kurtosis:                       3.458   Cond. No.                     5.21e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.21e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [150]:
playeravg = df_playerlog[['secs', 'playerID']]

In [151]:
playeravg

       secs playerID
0       572     2422
1      1034     2557
2       246     2584
3      1381     2732
4      1891   201569
5       149   201582
6      1341   201583
7      2010   201600
8      2080   201936
9      1622   201950
10      149   202337
11     1068   202690
12     2103   202696
13     2193   202699
14     2180   203076
15     1811     1495
16     1900     1717
17     1661     1938
18     1665     2199
19      802     2210
20     2090     2225
21     2008     2564
22      872     2588
23     1747     2734
24     1828     2749
25      NaN   101111
26     2233   101145
27     1084   201148
28     1845   201158
29      NaN   201948
...     ...      ...
31416  2484   203924
31417  2118   203960
31418  2880   204020
31419  2441   204054
31420  2006   203082
31421  2281   203106
31422  1090   203148
31423  1748   203584
31425  1398   203943
31426  1041   203084
31427   910   203105
31428  1217   203110
31429  1285   203115
31430  1182   203200
31431  1618   203475
31432   573   203479
31433  1392   203530
31434   950   203546
31435  1956   203914
31436   951   203949
31437  1807   203994
31438  1169   203135
31439  2392   203463
31440  1910   203492
31441  2880   203505
31442  2280   203527
31444  2880   203913
31445  1898   203917
31446  1295   204028
31447  1163   204065

[30295 rows x 2 columns]

In [250]:
xavg, yavg = dmatrices('secs ~ secavg', data=nresult, return_type= 'dataframe' )

In [251]:
xavg_train, xavg_test, yavg_train, yavg_test = train_test_split(xavg, yavg, random_state = 3)

In [252]:
clf = linear_model.LinearRegression()
clf.fit(xavg_train, yavg_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [253]:
yavg_pred = clf.predict(xx_test)

In [254]:
np.sqrt(metrics.mean_squared_error(yavg_test, yavg_pred))

ValueError: Found arrays with inconsistent numbers of samples: [7094 7566]

In [240]:
model = sm.OLS(xavg, yavg)
results = model.fit()

In [241]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   secs   R-squared:                       0.595
Model:                            OLS   Adj. R-squared:                  0.594
Method:                 Least Squares   F-statistic:                 4.437e+04
Date:                Tue, 15 Sep 2015   Prob (F-statistic):               0.00
Time:                        22:41:03   Log-Likelihood:            -2.2987e+05
No. Observations:               30264   AIC:                         4.597e+05
Df Residuals:                   30262   BIC:                         4.598e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   -285.1997      7.491    -38.073      0.000      -299.882  -270.517
secavg         1.1397      0.005    210.638      0.000         1.129     1.150
==============================================================================
Omnibus:                     1050.291   Durbin-Watson:                   1.174
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2027.768
Skew:                          -0.263   Prob(JB):                         0.00
Kurtosis:                       4.154   Cond. No.                     3.75e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.75e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""