In [30]:
import requests, json
import MySQLdb

In [31]:
def get_value(listOfDicts, key):
    for subVal in listOfDicts:
        if key in subVal:
            return subVal[key]

In [44]:
def playerid_list():
	endpoint = "http://stats.nba.com/stats/commonallplayers?IsOnlyCurrentSeason=1&LeagueID=00&Season=2013-14"
	players = json.loads(requests.get(endpoint).text)
	results =players['resultSets']
	player_list = get_value(results, 'rowSet')
	for i in range(len(player_list)):
		playerids.append(player_list[i][0])

In [33]:
def player_bio(i):
	playerlink= "http://stats.nba.com/stats/commonplayerinfo?PlayerID=%s" % i
	playerbio= json.loads(requests.get(playerlink).text)
	info = playerbio['resultSets']
	player_info = get_value(info, 'rowSet')
	return player_info

In [57]:
	playerids=[203942, 204067, 204040, 203254, 203296]
	players_bios=[]

In [ ]:
203942

In [61]:
# playerid_list()
players_bios = []
for i in playerids:
    player_info = player_bio(i)
    playerid= player_info[0][0]
    first_name = player_info[0][1]
    last_name = player_info[0][2]
    birthdate = player_info[0][6]
    season_exp = player_info[0][12]
    current_team = player_info[0][16]
    position = player_info[0][14]
    from_year = player_info[0][22]
    if from_year == None:
        from_year = 0
    to_year = player_info[0][23]
    if to_year == None:
        to_year = 0
    
    print (playerid, first_name, last_name, birthdate, season_exp, current_team, 
    position, from_year, to_year) 
    info=(int(playerid), str(first_name), str(last_name), str(birthdate), int(season_exp), int(current_team), 
    str(position), int(from_year), int(to_year)) 
    print info
    players_bios.append(info)

(203942, u'Patric', u'Young', u'1992-02-01T00:00:00', 0, 0, u'', 0, 0)
(203942, 'Patric', 'Young', '1992-02-01T00:00:00', 0, 0, '', 0, 0)
(204067, u'Jarell', u'Eddie', u'1991-10-30T00:00:00', 0, 0, u'', 0, 0)
(204067, 'Jarell', 'Eddie', '1991-10-30T00:00:00', 0, 0, '', 0, 0)
(204040, u'Ronald', u'Roberts', u'1991-08-05T00:00:00', 0, 0, u'', 0, 0)
(204040, 'Ronald', 'Roberts', '1991-08-05T00:00:00', 0, 0, '', 0, 0)
(203254, u'JaMychal', u'Green', u'1990-06-21T00:00:00', 0, 0, u'', 0, 0)
(203254, 'JaMychal', 'Green', '1990-06-21T00:00:00', 0, 0, '', 0, 0)
(203296, u'Quincy', u'Miller', u'1992-11-18T00:00:00', 0, 0, u'', 0, 0)
(203296, 'Quincy', 'Miller', '1992-11-18T00:00:00', 0, 0, '', 0, 0)

In [62]:
query ="""INSERT IGNORE INTO players (playerID, first_name, last_name, birthdate, season_exp, current_team, position, from_year, to_year)  VALUES """

In [63]:
query += ",".join([str(player) for player in players_bios])

In [66]:
db_commit(query)

In [39]:
def db_commit(query):
    cursor.execute(query+ ';')
    conn.commit()

In [65]:
conn = MySQLdb.connect(host='', user='', passwd='', db='nba_data')
cursor = conn.cursor()

In [64]:
print query

INSERT IGNORE INTO players (playerID, first_name, last_name, birthdate, season_exp, current_team, position, from_year, to_year)  VALUES (203942, 'Patric', 'Young', '1992-02-01T00:00:00', 0, 0, '', 0, 0),(204067, 'Jarell', 'Eddie', '1991-10-30T00:00:00', 0, 0, '', 0, 0),(204040, 'Ronald', 'Roberts', '1991-08-05T00:00:00', 0, 0, '', 0, 0),(203254, 'JaMychal', 'Green', '1990-06-21T00:00:00', 0, 0, '', 0, 0),(203296, 'Quincy', 'Miller', '1992-11-18T00:00:00', 0, 0, '', 0, 0)

In [67]:

    
conn.close()