In [1]:
import pandas as pd
import MySQLdb

In [5]:
df_team = pd.read_csv('team_table.csv')

In [11]:
df_team

          teamName  coversID       nbaID
0   Atlanta           404085  1610612737
1   Boston            404169  1610612738
2   Brooklyn          404117  1610612751
3   Charlotte         664421  1610612766
4   Chicago           404198  1610612741
5   Cleveland         404213  1610612739
6   Dallas            404047  1610612742
7   Denver            404065  1610612743
8   Detroit           404153  1610612765
9   Golden State      404119  1610612744
10  Houston           404137  1610612745
11  Indiana           404155  1610612754
12  L.A. Clippers     404135  1610612746
13  L.A. Lakers       403977  1610612747
14  Memphis           404049  1610612763
15  Miami             404171  1610612748
16  Milwaukee         404011  1610612749
17  Minnesota         403995  1610612750
18  New Orleans       404101  1610612740
19  New York          404288  1610612752
20  Oklahoma City     404316  1610612760
21  Orlando           404013  1610612753
22  Philadelphia      404083  1610612755
23  Phoenix           404029  1610612756
24  Portland          403993  1610612757
25  Sacramento        403975  1610612758
26  San Antonio       404302  1610612759
27  Toronto           404330  1610612761
28  Utah              404031  1610612762
29  Washington        404067  1610612764

In [10]:
df_team.columns = ['teamName', 'coversID', 'nbaID']

In [7]:
con = MySQLdb.connect(host='dev-db.cycgavlmx4or.us-east-1.rds.amazonaws.com', user='admin', passwd='Look4more', db='nba_data')

In [14]:
df_team.to_sql('teamInfo', con, flavor='mysql', index=False)

In [3]:
pos_df = pandas.read_csv('NBAplayerpositions.csv')

In [4]:
pos_df

                  name position
0          Tony Parker       PG
1           Tim Duncan        C
2          Matt Bonner       PF
3      Marco Belinelli       SG
4        Manu Ginobili       SG
5          Danny Green       SG
6          Cory Joseph       PG
7           Boris Diaw       PF
8          Aron Baynes        C
9        Kawhi Leonard       SF
10          Jeff Ayres        C
11      Tiago Splitter        C
12       Patrick Mills       PG
13     Reggie Williams       SG
14         Austin Daye       SF
15       Kyle Anderson       SG
16        Troy Daniels       SG
17      Thaddeus Young       PF
18      Nikola Pekovic        C
19         Mo Williams       PG
20        Gorgui Dieng        C
21      Chase Budinger       SF
22     Anthony Bennett       SF
23      Andrew Wiggins       SF
24         Zach LaVine       PG
25       Robbie Hummel       SF
26      Glenn Robinson       SF
27         Ricky Rubio       PG
28        Kevin Martin       SG
29       Lorenzo Brown       SG
..                 ...      ...
462         David Wear       PF
463       Ronny Turiaf        C
464    Sean Kilpatrick       SG
465  Sebastian Telfair       PG
466     Cartier Martin       SF
467      Eric Moreland       PF
468      Andre Dawkins       SG
469      Arinze Onuaku       PF
470       JaVale McGee        C
471     Doug McDermott       SF
472   Cameron Bairstow       PF
473   Jason Richardson       SG
474       Luigi Datome       SF
475     David Stockton       PG
476        Jeff Adrien       PF
477   Shavlik Randolph        C
478       Tour&e Murry       SF
479    Jamaal Franklin       SG
480      Bruno Caboclo       SF
481        Vander Blue       SG
482      Darius Miller       SF
483         Seth Curry       PG
484        Sim Bhullar        C
485      Kenyon Martin       PF
486      Glen Rice Jr.       SG
487       Josef Nurkic        C
488        Paul George       SF
489      Shane Edwards       SF
490        Kalin Lucas       PG
491   Jerrelle Benimon       PF

[492 rows x 2 columns]

In [7]:
con = MySQLdb.connect(host='dev-db.cycgavlmx4or.us-east-1.rds.amazonaws.com', user='admin', passwd='Look4more', db='nba_data')

In [11]:
pos_df.to_sql('pos', con, flavor='mysql', index=False, index_label=None, chunksize=None, dtype=None)

/Users/seanwilson/anaconda/lib/python2.7/site-packages/pandas/io/sql.py:599: FutureWarning: The 'mysql' flavor with DBAPI connection is deprecated and will be removed in future versions. MySQL will be further supported with SQLAlchemy engines.
  warnings.warn(_MYSQL_WARNING, FutureWarning)